@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Sarpanch:wght@400;900&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
:root{
    --bg-color: #212529;
    --color: #f8f9fa;
}
body {
    background-color:var(--bg-color)!important;
    color: var(--color)!important;
    transition: all .25s ease;
}

/*Index*/
.mainContainer{
    padding: 0!important;
}
/* HEADER */

/* MODAL */
.modal-content {
    background-color:var(--color)!important;
    color: var(--bg-color)!important;
}

.hidden {
    display:none!important
}
/* The alert message box */
.alert-danger {
    padding: 5px 15px;
    background-color: #dc3545; /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert-connected {
    padding: 5px 15px;
    background-color: #0063de; /* Green */
    color: white;
    margin-bottom: 15px;
}
.alert-online {
    padding: 5px 15px;
    background-color: #198754; /* Green */
    color: white;
    margin-bottom: 15px;
}
.alert-fail {
    padding: 5px 15px;
    background-color: #ffc107; /* Yellow */
    color: white;
    margin-bottom: 15px;
} 

